# Logs
logs
*.log

node_modules
.DS_Store
dist
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.env
*~
cdk.context.json
