# Logs
logs
*.log

node_modules
.DS_Store
dist
coverage
*.local

# Editor directories and files
# VSCode workspace settings – keep extensions.json but allow launch/tasks configs
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.env
*~
cdk.context.json
