import { boot } from 'quasar/wrappers';
import firebase from 'firebase/app';
import 'firebase/auth';
import 'firebase/firestore';
import 'firebase/analytics';

declare module '@vue/runtime-core' {
  interface ComponentCustomProperties {
    $firebase: any;
  }
}

// Initialise Firebase
firebase.initializeApp({
  apiKey: 'FIREBASE_API_KEY',
  authDomain: 'FIREBASE_AUTH_DOMAIN',
  projectId: 'FIREBASE_PROJECT_ID',
  storageBucket: 'FIREBASE_BUCKET',
  messagingSenderId: 'FIREBASE_SENDER_ID',
  appId: 'FIREBASE_APP_ID',
});
firebase.analytics();

export default boot(({ app }) => {
  app.config.globalProperties.$firebase = firebase;
});

export { firebase };
