@import "fonts";

.container {
  font-family: inter, serif;
  max-width: 1630px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.rounded-borders-lg {
  border-radius: 8px !important;
}

.responsive-image {
  max-width: 100%;
  display: block;
}

.no-album-cover-square {
  border: gray dashed 1px;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

// Quasar css override
.q-field--outlined .q-field__control {
  background: #fff;
}
