.container {
  max-width: 1630px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-photo-caption {
  text-align: center;
  padding: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.47);
}

.rounded-borders-lg {
  border-radius: 8px;
}

// Quasar css override
.q-field--standout .q-field__control {
  background: #fff;
}
