.album-list-paginator {
  .p-paginator {
    padding: 0 !important;

    .p-paginator-page,
    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev {
      min-width: 32px !important;
      height: 32px !important;
    }
  }
}

.file-preview,.album-list-item {
  .p-tag {
    padding: 0.1rem 0.3rem;
    font-weight: 500;
    font-size: 0.8rem;
  }
}

.dark-theme {
  .file-preview {
    .p-button.p-button-icon-only {
      padding: 0;
    }

    .p-tag-success {
      background: color-mix(in srgb,var(--p-green-500),transparent 30%);
      color: var(--p-green-900);
    }
  }
}
