name: Build and deploy API

on:
  push:
    branches:
      - master
    paths:
      - 'server/src/**'
      - 'server/package.json'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: prod
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_FOR_GITHUB_DEPLOY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_FOR_GITHUB_DEPLOY }}
      AWS_REGION_NAME: ${{ secrets.AWS_REGION_NAME }}
      VITE_GOOGLE_CLIENT_ID: ${{ secrets.VITE_GOOGLE_CLIENT_ID }}
      GOOGLE_PLACES_API_KEY: ${{ secrets.GOOGLE_PLACES_API_KEY }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      ALBUM_URL: ${{ secrets.ALBUM_URL }}
      VITE_IMAGEKIT_CDN_URL: ${{ secrets.VITE_IMAGEKIT_CDN_URL }}
      AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      D1_PHOTO_ALBUMS_WORKER: ${{ secrets.D1_PHOTO_ALBUMS_WORKER }}
      PROD_PHOTO_ALBUMS_DB_NAME: ${{ secrets.PROD_PHOTO_ALBUMS_DB_NAME }}
      PROD_PHOTO_ALBUMS_DB_ID: ${{ secrets.PROD_PHOTO_ALBUMS_DB_ID }}
      # Dummy values for Dev vars to satisfy wrangler.toml validation
      DEV_PHOTO_ALBUMS_DB_NAME: 'DEV_PHOTO_ALBUMS_DB_NAME'
      DEV_PHOTO_ALBUMS_DB_ID: 'DEV_PHOTO_ALBUMS_DB_ID'

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies and test
        run: |
          cd ./server
          bun install
          bun run types:server
          bun run test:server

      - name: Configure Wrangler
        run: |
          cd "$GITHUB_WORKSPACE/server"
          envsubst < wrangler.ci.toml > wrangler.tmp.toml
          mv wrangler.tmp.toml wrangler.toml

      - name: Upload Secrets
        run: |
          cd "$GITHUB_WORKSPACE/server"
          echo $AWS_ACCESS_KEY_ID | npx wrangler secret put AWS_ACCESS_KEY_ID --name "$D1_PHOTO_ALBUMS_WORKER" --env production
          echo $AWS_SECRET_ACCESS_KEY | npx wrangler secret put AWS_SECRET_ACCESS_KEY --name "$D1_PHOTO_ALBUMS_WORKER" --env production
          echo $VITE_GOOGLE_CLIENT_ID | npx wrangler secret put VITE_GOOGLE_CLIENT_ID --name "$D1_PHOTO_ALBUMS_WORKER" --env production
          echo $GOOGLE_PLACES_API_KEY | npx wrangler secret put GOOGLE_PLACES_API_KEY --name "$D1_PHOTO_ALBUMS_WORKER" --env production
          echo $JWT_SECRET | npx wrangler secret put JWT_SECRET --name "$D1_PHOTO_ALBUMS_WORKER" --env production

      - name: Deploy Cloudflare Worker
        run: |
          cd "$GITHUB_WORKSPACE/server"
          npx wrangler deploy --name "$D1_PHOTO_ALBUMS_WORKER" --env production
